.footer {
  background-color: #2b2b2b;
  color: #fff;
  padding: 40px 0;
  margin-top: 200px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
}

.learn-more-btn {
  background-color: #adb290;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.footer-contact {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-contact li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-contact li svg {
  margin-right: 10px;
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom span {
  color: red;
}
