.proImg{
    border-radius: 10px;
    object-fit: cover; 
    /* width: 300px;
    height: 200px; */
    width: 100%; /* Make the images responsive */
    height: 200px; /* Maintain aspect ratio */
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    
    
}
.continerofImages{
    width: 75%;
    border-radius: 10px;
    margin: 0 auto;
   
   
}
h1{

    text-align: center;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .proImg {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .proImg.visible {
    animation: fadeIn 0.5s forwards;
  }



  @media (max-width: 1024px) {
    .continerofImages {
        width: 90%;
    }
    
    .proImg {
        height: auto;
    }
}

@media (max-width: 600px) {
    .continerofImages {
        width: 100%;
    }
    
    .proImg {
        width: 100%;
    }
    
    h1 {
        font-size: 1.5rem; 
    }
}